<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mpprojects.mpmarket.dao.relationships.UserCouponMapper">
    <select id="isUseOnlyOne" resultType="com.mpprojects.mpmarket.model.shop.relationship.UserCoupon">
        select * from user_coupon where is_select = true and user_id = #{userid};
    </select>

    <select id="selectOneByUserId" resultType="com.mpprojects.mpmarket.model.shop.relationship.UserCoupon">
        select * from user_coupon where user_id = #{userid};
    </select>

    <select id="selectByUserIdAndCouponId" resultType="com.mpprojects.mpmarket.model.shop.relationship.UserCoupon">
        select * from user_coupon where user_id = #{userid} and coupon_id = #{couponid};
    </select>
</mapper>